.body {
    margin: 0px;
    padding: 0px;
    background-color: #f5f7fa;
    font-family: "Rubik", sans-serif;
}
.nav {
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 9px rgba(0, 0, 0, 0.1);
}
.left-box {
    display: flex;
    align-items: center;
    gap: 30px;
    padding-left: 140px;
}
.left-box p {
    font-size: 10px;
    font-weight: 550;
    cursor: pointer;
}
.left-box p:hover {
    color: #00a2ff;
}
.right-box {
    display: flex;
    margin-right: 160px;
    gap: 15px;
}
.login-box {
    font-size: 9px;
    font-weight: 700;
    box-sizing: border-box;
    transition: all .1s ease-in-out;
    margin: auto;
    border: 2px solid #b2bac1;
    background: transparent;
    border-radius: 12px;
    padding: .6em .9em;
    line-height: 1.4;
}
.login-box:hover {
    border-color: #00a2ff;
    color: #00a2ff;
}
.signup-box {
    font-size: 10px;
    font-weight: 700;
    margin: auto;
    text-align: center;
    box-sizing: border-box;
    color: #fff;
    background: #00a2ff;
    border: 2px solid #3393f2;
    border-radius: 12px;
    line-height: 2.1;
    transition: all .1s ease-in-out;
}
.signup-box:hover {
    background-color: #fff;
    color: #00a2ff;
}
.homepage{
    max-width: 1330px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.main-container {
    max-width: 1330px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}
.main-container h1 {
    font-size: 10px;
    font-weight: 700;
    line-height: 1.4;
    letter-spacing: .04em;
    text-transform: uppercase;
    color: #717171;
    margin: 0 0 8px;
}
.info {
    display: block;
    color: #000;
    font-size: 58px;
    font-weight: 700;
    margin: 0 0 17px;
    text-align: center;
}
.message {
    color: #000;
    font-size: 16px;
    font-weight: 400;
    margin: 0 auto 60px;
    max-width: 800px;
    line-height: 1.4;
    text-align: center;
}
.Button_large__LaZYG {
    padding: 17px 31px;
    border-radius: 24px;
    font-size: 18px;
    border-width: 3px;
}
.Button_btn__5vn34 {
    font-family: var(--rubik);
    display: inline-block;
    box-sizing: border-box;
    border: 2px solid #e3d500;
    border-radius: 20px;
    padding: 14px 20px;
    line-height: 0.8;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
    background: #fbe30c;
    color: #191b19;
    transition: background-color .3s ease-in-out, border-color .3s ease-in-out;
    cursor: pointer;
}
.text {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}
.Button_btn__5vn34:hover {
    background-color: #00a2ff;
    border-color: #3393f2;
    color: #fff;
}
.small-text {
    display: block;
    font-size: 10px;
    font-weight: 400;
    margin: 13px 0 0;
    letter-spacing: .02em;
}
.stroke {
    color: #abbcc9;
}
@media (max-width: 900px) {
    .login-box {
        display: none;
    }
    .left-box p {
        display: none;
    }
    .left-box {
        padding: 0;
    }
    .info {
        font-size: 30px;
    }
}